@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'Terminus';
  src: url('/fonts/terminus/TerminusTTF-4.49.2.ttf') format('truetype');
}

@font-face {
  font-family: 'Volumno';
  src: url('/fonts/volumno/volumno.ttf') format('truetype');
}
html,
body {
	padding: 0;
	margin: 0;
	background-color: black;
	font-family: 'Terminus', sans-serif; /* Fuente predeterminada */
}

.p5Canvas {
	position: absolute !important;
	z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Volumno', serif; /* Usar Volumno para encabezados */
}

.cyberpunk-button {
  font-family: 'Terminus', sans-serif;
  font-size: 24px;
  color: #00ff00;
  background: linear-gradient(45deg, #ff00ff, #0000ff);
  border: 2px solid #00ff00;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #ff00ff;
  cursor: pointer;
  text-transform: uppercase;
}

/*canvas {
	position: absolute !important;
	z-index: -1;
	height: 100vh;
	width: 100vw;
	cursor: none;
}*/

/* Estilo de las barras de desplazamiento */
/*
*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

*::-webkit-scrollbar-track {
	background: #000000;
}

*::-webkit-scrollbar-thumb {
	background: #00ff00;
	border-radius: 1px;
}

*::-webkit-scrollbar-thumb:hover {
	background: #00cc00;
}*/

